<p>add-edit-recipe works!</p>
<p>testetstest</p>

<form>
    <div class="form-group">
      <label for="recipeName">Имя</label>
      <input  class="form-control" id="recipeName" name="name" placeholder="название рецепта" [(ngModel)] = "recipe.name" >
      <label for="recipeName">Инструкция</label>
      <input  class="form-control" id="recipeInstruction" name="instruction" placeholder="инструкция" [(ngModel)] = "recipe.instruction" >
      <label for="recipeName">Описание</label>
      <input  class="form-control" id="recipeDescription" name="description" placeholder="инструкция" [(ngModel)] = "recipe.description" >
      
      <button type="submit" class="btn btn-primary" (click)= "add(recipe)" >Добавить</button>
    </div>